.container {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin-bottom: 5%;
  font-family: "Playfair Display", serif;
}

.d20 {
  max-width: 25%;
  max-height: 25%;
}

.button {
  border: none;
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  background-color: whitesmoke;
}
